@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        

    </div> <!-- container -->

</div> <!-- content -->