@using Goru.Data
@using Microsoft.AspNetCore.Mvc.ModelBinding.Validation
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Goru.Areas.AdminPanel.Models.Category.CreateCategoryVM

@{
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}


@using(Html.BeginForm("Add", "Categories", FormMethod.Post))
{
    <div class="create-order-form">
        <p>
            <label>Id</label><br/>
            @Html.TextBoxFor(m => m.Id)
        </p>
        <br/>
        <p>
            <label>Название</label><br/>
            @Html.TextBoxFor(m => m.Name)
        </p>
        <br/>
        <p>
            <label>Id родителя</label><br/>
            @Html.TextBoxFor(m => m.ParentId)
        </p>
        

        <input type="submit" value="Добавить" onchange="this.form.submit()"/>
    </div>
}

<!-- Danger Alert Modal -->
<div id="danger-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled bg-danger">
            <div class="modal-body">
                <div class="text-center">
                    <i class="dripicons-wrong h1 text-white"></i>
                    <h4 class="mt-2 text-white">Oh snap!</h4>
                    <p class="mt-3 text-white">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                    <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Continue</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<button id="buttt"  type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#danger-alert-modal" style="display: none;">Danger Alert</button>

@if (Model.IsError)
{
    <script>
        window.onload = function() {
            document.getElementById("buttt").click();
        };        
    </script>
}
